@font-face {
    font-family: 'chivo';
    src: url('fonts/Chivo-Regular.otf'),
         url('fonts/Chivo-Bold.otf'),
         url('fonts/Chivo-Italic.otf'),
         url('fonts/Chivo-BoldItalic.otf');
}
@font-face {
    font-family: 'BebasNeue';
    src:    url('fonts/eot/BebasNeue-Regular.eot'),
            url('fonts/otf/BebasNeue-Regular.otf'),
            url('fonts/ttf/BebasNeue-Regular.ttf');
}

*
{
    font-family: chivo, "Arial", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F8FEFF;
    color : #064654;
    margin-left: 5%;
    margin-right: 5%;   
}


/* HEADER */

header {
    background-color:#096A80;
    height:150px;
    display: flex;
    justify-content: space-between;
}
.headerGauche {
    display: flex;
    align-items: center;
}
#connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    margin-bottom: 0px;
    margin-right: 30px;
}
.connexion {
    font-family: 'BebasNeue', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #E2F4F9;
    flex-direction:flex-end;
    margin-top: 0px;
}
#logo {
    float: left;
}
.active {
    font-family: 'BebasNeue', cursive;
    color: #0C94B3;
    font-size: 65px;
    margin-top: -28px;
    margin-bottom: -35px;
    padding: 0px;
    
}
.bretagne {
    font-family: 'BebasNeue', cursive;
    color: #0FB2D6;
    font-size: 65px;
    margin-top: -12px;
    margin-bottom: -35px;
    padding: 0px;
}
.informatique {
    font-family: 'BebasNeue', cursive;
    color:#E2F4F9;
    font-size: 65px;
    margin-top: -12px;
    margin-bottom: -35px;
    padding: 0px;
}

                /*HEADER après connexion (boutons)*/

.headerDroit {
    display: flex;
    flex-direction: column;
    margin-bottom: -25px;
}
.Intranet {
    width: 200px;
    height: 50px;
    left: 889px;
    top: 82px;
    background: #0C94B3;
}
.intranet {  
    background: #0C94B3;
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 0px;
    color: #E2F4F9;
    text-decoration:none;
    text-align:center;
    vertical-align: middle;
}
.Deconnexion {
    width: 200px;
    height: 50px;
    left: 889px;
    top: 82px;
    background: #0C94B3;
}
.deconnexion {
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 0px;
    color: #E2F4F9;
    text-decoration:none;
    text-align:center;
    vertical-align:middle;
}
.identification {
    width: 557px;
    height: 48px;
    left: 872px;
    top: 15px;
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    margin-bottom: -25px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    color: #E2F4F9;
}
.boutons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -20px;
}
