/* PAGE ACCUEIL INTRANET */

#blocImgIntranet
{
    display: flex;
    justify-content: space-around;
}


.blocNavIntranet 
{
    background-color: #E2F4F9;
    height: 300px;
    width: 313px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px #064654;
}

.textNav
{
    color:#064654;
    font-family:  BebasNeue, "impact", Arial, Helvetica, sans-serif;
    font-size: 2.5em;
}

.blocImgActualitesIntranet{
    display: flex;
    justify-content: space-around;
}

.blocArticleActualitesIntranet {
    padding-top: 1%;
    padding-bottom: 10%;
    padding-left: 1%;
    padding-right: 1%;
    border: 1px solid #064654;
    height: 460px;
    box-shadow: 2px 2px 2px 2px #064654;
}

.blocImgActualitesIntranet h3 {
    font-size: 120%;
    padding-top: 5%;
}
