@font-face {
    font-family: 'chivo';
    src: url('fonts/Chivo-Regular.otf'),
         url('fonts/Chivo-Bold.otf'),
         url('fonts/Chivo-Italic.otf'),
         url('fonts/Chivo-BoldItalic.otf');
}
@font-face {
    font-family: 'BebasNeue';
    src:    url('fonts/eot/BebasNeue-Regular.eot'),
            url('fonts/otf/BebasNeue-Regular.otf'),
            url('fonts/ttf/BebasNeue-Regular.ttf');
}

* {
    font-family: chivo, "Arial", Helvetica, sans-serif;
    box-sizing: border-box;
    margin : 0;
}

body {
    background-color: #F8FEFF;
    color : #064654;
    max-width: 3000px;
    max-height: 2000px;
}

#blocPage {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    text-align: center;
    color: #064654;
    font-family: BebasNeue, "impact", Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    line-height: 100px;
}

h2 {
    font-size: 2em;
    line-height: 100px;
}

/* HEADER */

header {
    background-color:#096A80;
    height:150px;
    display: flex;
    justify-content: space-between;
}
.headerGauche {
    display: flex;
    align-items: center;
}
#connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    margin-bottom: 0px;
    margin-right: 30px;
}
.connexion {
    font-family: BebasNeue, "impact", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #E2F4F9;
    flex-direction:flex-end;
    margin-top: 0px;
}
#logo {
    float: left;
    height:120px;
}
.active {
    font-family: BebasNeue, "impact", Arial, Helvetica, sans-serif;
    color: #0C94B3;
    font-size: 65px;
    margin-top: -28px;
    margin-bottom: -35px;
    padding: 0px;
    
}
.bretagne {
    font-family:  BebasNeue, "impact", Arial, Helvetica, sans-serif;
    color: #0FB2D6;
    font-size: 65px;
    margin-top: -12px;
    margin-bottom: -35px;
    padding: 0px;
}
.informatique {
    font-family:  BebasNeue, "impact", Arial, Helvetica, sans-serif;
    color:#E2F4F9;
    font-size: 65px;
    margin-top: -12px;
    margin-bottom: -35px;
    padding: 0px;
}

/*HEADERCONNECTE*/

.headerDroit {
    display: flex;
    flex-direction: column;
    margin-bottom: -25px;
}
.Intranet {
    width: 200px;
    height: 50px;
    left: 889px;
    top: 82px;
    background: #0C94B3;
}
.intranet {  
    background: #0C94B3;
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #E2F4F9;
    text-decoration:none;
    text-align:center;
    vertical-align: middle;
}
.Deconnexion {
    width: 200px;
    height: 50px;
    left: 889px;
    top: 82px;
    background: #0C94B3;
}
.deconnexion {
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #E2F4F9;
    text-decoration:none;
    text-align:center;
    vertical-align:middle;
}
.identification {
    width: 557px;
    height: 48px;
    left: 872px;
    top: 15px;
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    margin-bottom: -25px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #E2F4F9;
}
.boutons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -20px;
}


/* NAV */

#blocNavImg {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

#imgQuiSommesNous {
  background-image: url("img/img_quiSommesNous.jpg");  
  height: 309px;
  width: 446.51px;
}

#imgContact {
    background-image: url("img/img_contact.png"); 
    height: 309px;
    width: 310px;
}


#imgActualités {
    background-image: url("img/img_actualites.png"); 
    height: 309px;
    width: 511px;
   
}

.navTexte {
    color:white;
    font-size: 3em;
    text-shadow: black 0px 10px 4px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  BebasNeue, "impact", Arial, Helvetica, sans-serif;
}

/* PAGE ACCUEIL */

.barreAccueil {
    align-items :  center;
    display: flex;
    text-align: center;
    font-family: BebasNeue, "impact", Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 30px;
}

.barreAccueil::before,.barreAccueil::after {
    border-top: 2px solid; 
    content:"";
    flex: 1;
    margin:0 0.5em;
}

#resume {
    font-size: medium;
    line-height: 30px;
    text-align: justify;
}

.hrIndex {
    margin-top: 5%;
    margin-bottom: 5%;
}

#situation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#devis {
    display:flex;
    background: #E2F4F9;
    color: #096A80;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 0px 20px;
    width: 588px;
    height: 457px;
    flex-direction: column;
    padding-left: 70px;
    justify-content: center;
    font-size: 30px;
    line-height: 36px;
    text-align: left;
}

address a {
    color: #096A80;
    font-style: normal;
    text-decoration: none;
}

#call {
    vertical-align: middle;
}

#mail {
   vertical-align: middle;

}


/* FOOTER */

footer {
background-color: #096A80;
}

#footerListe {
    color : #F8FEFF;
    display: flex; 
    justify-content: space-around ;
    align-items: center; 
    height: 150px; 
    list-style-type: none; 
    font-size: large;
}

#footerListe a {
    text-decoration: none;
    color : #F8FEFF;
}

#footerListe a:hover {
    color: #0FB2D6 ;
    text-decoration: underline;
    font-size: x-large;
}

/* NAV secondaire */

#navSecondaire {
    height: 100px;
}
#navListe {
    color : #F8FEFF;
    display: flex; 
    justify-content: space-around ;
    align-items: center; 
    list-style-type: none; 
    font-size: 2em;
    height: 100px;
}

#navListe a {
    text-decoration: none;
    color : #064654;
}

#navListe a:hover {
    color: #0FB2D6 ;
    text-decoration: underline overline;
    font-size: xx-large;
}

#miette {
    font-size: 1.5em;
    color: #096A80;
    text-align: left;
    margin-top: 30px;
}

#logoMiette
{
    position: relative;
    bottom: -2px;
}



/* PAGE CONTACT */

#blocContact {
    width: 1000px;
    height: 850px;
    background-color: white;
    margin: auto;
    border-radius: 20px 0px 0px 20px;
    filter: drop-shadow(5px 4px 20px #096A80);
    margin-top: 50px;
    margin-bottom: 100px;
}

#formContact {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding-top: 30px;
}

.formInput {
    width: 100%;
    height: 40%;
    background-color: #E2F4F9;
    border-radius: 20px 0px 0px 20px;
    font-size: 1.2em;
    border:none;
}

#formTextArea {
    width: 100%;
    height: 200px;
    background-color: #E2F4F9;
    border-radius: 20px 0px 0px 20px;
    font-size: 0.8em;
    border:none;

}

.pContact {
    width: 70%;
    height: 150px;
    line-height: 50px;
    font-size: 2em;
    color: #064654;
    font-weight: bold;
}

#formBouton {
    background-color: #E2F4F9;
    border-radius: 20px;
    height: 50px;
    width: 120px;
    color: #064654;
    font-size: 0.7em;
    margin-left: 40%;
    margin-top: 20px;
}

/* PAGE ACTUALITES */

#titrePageActualites {
    color : #064654;
    text-align: center;
    vertical-align: 0px;
    margin-bottom: -40px;
}

.blocImgActualites {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.blocImgActualites h3 {
    font-size: 120%;
    padding-top: 3%;
}

.blocArticleActualites {
    padding-top: 1%;
    padding-bottom: 10%;
    padding-left: 1%;
    padding-right: 1%;
    border: 1px solid black;
    height: 550px;
}

.paragrapheActualites {
    width: 333px;
    padding-top: 10%;
}

.enSavoirPlus {
    font-size: 100%;
    margin-top: 10%;
    background-color: #E2F4F9;
    border-radius: 10px;
    box-shadow: 1px 2px 2px #064654;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #064654;
}

#loadMore {
    background-color: #f2f9fb;
    text-align: center;
    margin-bottom: 4%;
    margin-right: 40%;
    margin-left: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    border: 1px solid black;
}

#textLoadMore {
    font-weight: bold;
}

/* PAGE QUISOMMENOUS */

.h2Centre {
    text-align: center;
}

#histoire {
    font-size: medium;
    line-height: 30px;
    text-align: justify;
}


table {
    margin-left: auto;
    margin-right: auto;
    background-color: #E2F4F9;
    width: 75%;
    margin-bottom: 10%;
    border-radius: 20px 0px 0px 20px;
    height: 25%;
}

td {
    padding: 10px;
    vertical-align: center;
}

.direction {
    color: #096A80;
    padding-left: 25px;
}

.developpements {
    color: #064654;
}

/* test */
