/*qui sommes nous */

.h2Centre {
    text-align: center;
}

#histoire {
    font-size: medium;
    line-height: 30px;
    text-align: justify;
}


table {
    margin-left: auto;
    margin-right: auto;
    background-color: #E2F4F9;
    width: 75%;
    margin-bottom: 10%;
    border-radius: 20px 0px 0px 20px;
    border-spacing: 25px;
}

td {
    padding: 10px;
    vertical-align: center;
}

.direction {
    color: #096A80;
    padding-left: 25px;
}

.developpements {
    color: #064654;
}

/*commercialutilisateur*/

.searchForm {
   display:flex;
}

.searchInput {
    flex: center;
}

/* end */
