
/*fond*/
.modalComponent {
    z-index: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.modalFond {
    position: absolute;
    opacity:0.5;
    height: 200%;
    width: 100%;
    background-color: black;
}
/*bloc*/
.modal {
    z-index: 2;
    width: 498px;
    height: 287px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 5px 7px rgba(0, 0, 0, 0.25);
    padding-top: 10px;
}
.form {
    display:flex;
    flex-direction:column;
}
.modal-backdrop {
    position:absolute;
}
.mail {
    font-family: Chivo;
    font-size: 20px;
    line-height: 24px;
    color: #096A80;
    margin-left: 10px;
}
.motDePasse {
    font-family: Chivo;
    font-size: 20px;
    line-height: 24px;
    color: #096A80;
    margin-left: 10px;
}
input {
    border-radius:25px 0px 0px 25px;
    width:450px;
    height: 50px;
    background-color: #E2F4F9;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    border:none;
    margin-bottom: 50px;
    margin-left: 10px;
}
.connexionTxt {
    color:#E2F4F9;
    font-family: Chivo;
    text-decoration: none;
    margin-left: 10px;
}
.bouton {
    height:50px;
    width:135px;
    background-color:#064654;
    float:right;
    margin-top: -25px;
    margin-right:25px;
    display: flex;
    border-radius: 25px 25px 25px 25px;
    justify-content: center;
    align-items: center;
}
.couleur {
    background-color: red
}
