/*AFFICHER CLIENT*/

.contenuAfficherClient {
    display: flex;
    flex-direction: column;
}
.nomDuClient {
    text-align: center;
    font-family:BebasNeue, "impact", Arial, Helvetica, sans-serif;
    font-size: 2em;
}
.divNomDuClient {
    margin-bottom: 50px;
}
.donneesAffichageClient {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}
.donneesAffichageClientListes {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-left: 30px;
}
.infosFixes {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    float:left;
    font-family: chivo Bold;
}
.infosVariables {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    float:right;
    margin-left: 150px;
    font-family: chivo Regular;
}
.infosTxT {
    margin-top: 20px;
    font-size: 24px;
    font-family: Chivo ;
}
.infosTxtFixes {
    width: 250px;
    font-weight:Bolder;
    font-size: 24px;
}
.listeScroll {
    overflow: auto;
    height: 30px;
    width: 500px;
    background-color:#F8FEFF;
    margin-left: 150px;
    font-size: 24px;
}
.listeSansScroll {
    height: auto;
    width: 500px;
    margin-left: 150px;
    font-size: 24px;
}
.boutonsModifierSupprimerPositions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}
.boutonsModifierSupprimerForme {
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 50px;
    background: #0C94B3;
}
.boutonsModifierSupprimerTxt {
    color:#F8FEFF;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}
